/* GERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #2EC2E8;
    background-image: linear-gradient( to bottom right, #2EC2E8, #eed7ef); 
    max-width: 100vw;
    height: 100vh;
}


.wrapper{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-color: #fff;
    flex-direction: column;
}

/*area de input*/

.to-do__label-area{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #efefef;

}

textarea{
    resize: none;
}
.to-do__label{
    color: #000;
    font-weight: bold;
}

.to-do__input-area{
    height: 100px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do__input{
    width: 100%;
    height: 100px;
    border-style: none;
    color: #4f4f4f;
    padding: 15px;
    word-break: break-all;
}

.button-purpple{
    background-color: #a553b2;
    color: white;
    font-weight: bold;
    border-style: none;
    width:350px ;
    height: 50px;
    text-transform: uppercase;
}

/*to do box*/

.to-do__box{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.to-do__box-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 350px;
    border-bottom: 2px solid #8b8b8b31;
    width: 350px;
    word-break: break-all;
    
}
/* 
.to-do__box-inside.over{
    border: 2px dashed #000;
} */

.to-do__box-text{
    text-decoration: line-none;
    color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    word-break: break-all;
    padding: 20px;
}

.to-do__box-text_checked{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #666565;
    width: 350px;
    text-decoration: line-through;
    word-break: break-all;
    padding: 20px;
}

.button {
    border: 0px;
    background-color: #fff;
}

/* Select all area */

.select-all__area{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    height: 70px;
    padding: 15px 15px;
    border-bottom: 1px solid #efefef;
}

.button-gray{
    background-color: #9e9e9e;
    color: white;
    border-style: none;
    width: 150px ;
    height: 30px;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 12px;
}

